<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*"
            Name="SearchClip"
            Language="1033"
            Version="1.0.0.0"
            Manufacturer="SearchCorp"
            UpgradeCode="{30F8CBC8-DE0C-4DC8-9B70-07F3741F13B6}">
		<Package InstallerVersion="300" Compressed="yes" InstallScope="perMachine" />
    <Media Id="1" Cabinet="SearchClip.cab" EmbedCab="yes"/>

  	<Directory Id="TARGETDIR" Name="SourceDir">
	  	<Directory Id="ProgramFilesFolder">
  			<Directory Id="APPLICATIONROOTDIRECTORY" Name="SearchClip" />
			</Directory>
		</Directory>
    
    <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
      <Component Id="SearchClip.exe" Guid="{36A32626-BE2B-483E-9CED-7B47193EBBE2}">
        <File Id="SearchClip.exe" Source="..\Release\SearchClip.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="KeyboardHook.dll" Guid="{194B3F35-677A-4120-848F-C21666F68CBC}">
        <File Id="KeyboardHook.dll" Source="..\Release\KeyboardHook.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
    </DirectoryRef>

    <Feature Id="MainApplication" Title="SearchClip" Level="1">
      <ComponentRef Id="SearchClip.exe"/>
      <ComponentRef Id="KeyboardHook.dll"/>
		</Feature>

    <UI Id="WixUI_Minimal">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="Minimal" />

      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="ExitDialog"
        Control="Finish"
        Event="DoAction"
        Value="LaunchApplication">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>
      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>
      <Property Id="ARPNOMODIFY" Value="1" />
    </UI>

    <UIRef Id="WixUI_Common" />

    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch SearchClip" />
    <Property Id="WixShellExecTarget" Value="[#SearchClip.exe]" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
                  
    <CustomAction Id="LaunchApplication"
                  FileKey="SearchClip.exe"
                  Execute="immediate"
                  ExeCommand=""
                  Return="asyncNoWait"
                  Impersonate="yes" />
    
  </Product>

</Wix>
